<td-layout-nav> 
    <td-layout-card-over cardTitle="Lista de usuários"  cardWidth="75"  >
        <md-card>      
            <div layout="row" layout-align="start center" class="pad-left-sm pad-right-sm">
                <td-search-box [alwaysVisible]="true" #textSearch backIcon="arrow_back" class="push-right-sm" placeholder="Procurar por nome, sobrenome ou email" (searchDebounce)="search(textSearch.value)" flex>
                </td-search-box>
            </div>
            <md-divider></md-divider>
            <table td-data-table #dataTable>
                <th td-data-table-column
                     [name]="column.name"
                     [active]="sortBy == column.name"
                     [sortable]="column.sortable"
                     [sortOrder]="order"
                     (sortChange)="sortEvent($event)"
                    *ngFor="let column of columns">
                    {{column.label}}
                </th>
                <tr td-data-table-row *ngFor="let user of users.content">
                    <td td-data-table-cell>
                      <span>
                        {{user.name | truncate:15}}
                     </span>
                    </td> 
                    <td td-data-table-cell>
                      <span>  
                        {{user.lastName | truncate:15}} 
                     </span>
                    </td>
                    <td td-data-table-cell>
                     <span>
                        {{user.email | truncate:25}}
                     </span>
                    </td>
                    <td td-data-table-row class="buttons" layout-align="left left">
                        <button md-icon-button mdTooltip="Status" *ngIf="( (userCurrent?.permission == 'ROLE_ADMIN') && ( user?.id != 1 ) )" (click)="openConfirm($event, user)" ><md-icon  [ngClass]="(user?.active)?'activateButton':'deactivateButton'" >power_settings_new</md-icon></button>
                        <button md-icon-button mdTooltip="Editar" *ngIf="( (userCurrent?.permission == 'ROLE_ADMIN') && ( user?.id != 1 ) )" [routerLink]="['/user-edit', user.id]"><md-icon md-list-avatar >edit</md-icon></button>
                        <button md-icon-button mdTooltip="Detalhar" [routerLink]="['/user-detail', user.id]" ><md-icon md-list-avatar>details</md-icon></button>
                    </td>
                </tr>
                <div class="Empty" *ngIf="!total" layout-align="center center">
                    <h3 class="Empty">Sem resultados.</h3>
                </div>
            </table>
             <td-paging-bar #pagingBar [firstLast]="true" 
                         [pageSizeAll]="false" [pageSizes]="[5,10,20]"
                pageLinkCount="5" [initialPage]="1" [pageSize]="5" [total]="total" (change)="change($event)">
                    {{pagingBar.range}} 
                <span hide-xs>
                    of {{pagingBar.total}}
                </span>
            </td-paging-bar>
          <a md-fab td-sidenav-content *ngIf="userCurrent?.permission == 'ROLE_ADMIN'" color="accent" [routerLink]="['/user-new']" class="buttonAdd" > 
              <md-icon mdTooltip="Novo" >add</md-icon>
          </a>
     </md-card> 
  </td-layout-card-over>
</td-layout-nav>



