<td-layout-nav> 
    <td-layout-card-over cardTitle="Usuário"  cardWidth="75"  >
        <md-card>   
            <form #myform="ngForm" class="example-form">
                <md-input-container *ngIf="user.id" class="example-full-width">
                    <input mdInput placeholder="ID" disabled  [value]="user?.id">
                </md-input-container>
                <table class="example-full-width" cellspacing="0">
                    <tr>
                        <td>
                            <md-input-container class="example-full-width">
                                <input required #userName maxlength="50" tdAutoTrim name ="name" [(ngModel)]="user.name" mdInput placeholder="Nome">
                                <md-hint align="end">{{userName.value.length}} / 50</md-hint>
                                <md-error>Este campo é obrigatório</md-error>
                            </md-input-container>
                        </td>
                        <td>
                            <md-input-container class="example-full-width">
                                <input required #userLastName maxlength="50" name ="lastName" [(ngModel)]="user.lastName" mdInput placeholder="Sobrenome">
                                <md-hint align="end">{{userLastName.value.length}} / 50</md-hint>
                                <md-error>Este campo é obrigatório</md-error>
                            </md-input-container>
                        </td>
                    </tr>
                </table>
                <table [hidden]="user.id" class="example-full-width" cellspacing="0">
                    <td>
                        <md-input-container class="example-full-width">
                            <input [required]="!user.id" #userPassword minlength="8" maxlength="50" #password="ngModel" name ="password" [(ngModel)]="user.password"  type ="password" mdInput placeholder="Senha">
                            <md-hint align="end">{{userPassword.value.length}} / 50</md-hint>
                            <md-error>A senha deve possuir no mínimo 8 caracteres</md-error>
                            <md-error *ngIf="myform.submitted">Este campo é obrigatório</md-error>
                        </md-input-container>
                    </td>
                </table> 
                <table [hidden]="user.id" class="example-full-width" cellspacing="0">
                    <td>
                        <md-input-container class="example-full-width">
                            <input [required]="!user.id"  #userConfirmPassword minlength="8" maxlength="50" #confirmPassword="ngModel" name ="confirmPassword" [(ngModel)]="user.confirmPassword"  type ="password" mdInput placeholder="Confirme a senha">
                            <md-hint align="end">{{userConfirmPassword.value.length}} / 50</md-hint>
                            <md-error>Este campo é obrigatório</md-error>
                        </md-input-container>
                        <md-hint>
                            <span *ngIf="(userConfirmPassword.value != userPassword.value)  && myform.submitted" class="tc-red-600">
                                 <span [hidden]="userConfirmPassword.pristine" >Senhas não conferem</span>
                            </span>
                        </md-hint>
                    </td>
                </table>
                <table class="example-full-width" cellspacing="0"><tr>
                    <td>
                        <md-input-container class="example-full-width">
                            <input  mdInput 
                                    required 
                                    pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                                    maxlength="144" 
                                    #email name ="email" 
                                    [(ngModel)]="user.email" 
                                    type ="email"
                                    placeholder="Email">
                            <md-hint align="end">{{email.value.length}} / 144</md-hint>
                            <md-error>Este campo é obrigatório</md-error>
                        </md-input-container>
                    </td>
                </table> 
                <br>
                <table>
                    <tr>
                        <td>
                            <md-select required name ="permission" [(ngModel)]="user.permission" placeholder="Permissão">
                                <md-option *ngFor="let role of roles" [value]="role.value">
                                    {{ role.viewValue }}
                                </md-option>
                            </md-select>
                        </td> 
                    </tr>
                </table>
                <br><br>

                <table >
                    <tr>
                        <td>
                            <md-select required name ="sex" [(ngModel)]="user.sex" placeholder="Sexo">
                                <md-option *ngFor="let sex of sexs" [value]="sex.value">
                                    {{ sex.viewValue }}
                                </md-option>                                
                            </md-select>
                        </td> 
                    </tr>
                </table>
                <br><br>
                <td-expansion-panel *ngIf="user.id" [expand]="false">
                <ng-template td-expansion-panel-label>
                    <md-icon>security</md-icon>
                    <span>Alterar senha</span>
                </ng-template>

                <form #passwordForm="ngForm"  class="md-padding" layout="column">
                    
                    <md-input-container flex>
                         <input mdInput [required]="user.id" #newPassword minlength="8" maxlength="50" mdInput tdAutoTrim type="password" name ="password" [(ngModel)]="user.password" placeholder="Nova senha"/>
                         <md-error>A senha deve possuir no mínimo 8 caracteres</md-error>                         
                         <md-error *ngIf="passwordForm.submitted" >Este campo é obrigatório</md-error>
                    </md-input-container>
                    <br><br>
                    <md-input-container flex>
                         <input mdInput [required]="user.id" #confirmNewPassword minlength="8" maxlength="50" mdInput tdAutoTrim type="password" name ="confirmPassword" [(ngModel)]="user.confirmPassword" placeholder="Confirme a senha"/>
                         <md-error>Este campo é obrigatório</md-error>
                    </md-input-container>
                    <md-hint>
                        <span *ngIf="(newPassword.value != confirmNewPassword.value)  && passwordForm.submitted" class="tc-red-600">
                                <span [hidden]="confirmNewPassword.pristine" >Senhas não conferem</span>
                        </span>
                    </md-hint>
                    <md-divider></md-divider>
                    <div layout="row" layout-margin layout-align="end center">
                        <button md-button [disabled]="passwordForm.form.invalid" color="accent" (click)="updatePassword(user)" class="text-upper">Salvar senha</button>
                    </div>

                </form>
                </td-expansion-panel>
                <div class="inset">
                    <button md-raised-button  color="accent" type="submit" class="button" [disabled]="myform.form.invalid" (click)="insertUser($event)" >Salvar</button>
                    <button md-raised-button  color="accent" routerLink="/user" [queryParams]="{page:1}" class="button">Cancelar</button>
                </div>
            </form>
     </md-card> 
  </td-layout-card-over>
</td-layout-nav> 