<form>
    <div layout="row" layout-align="start center" class="pad-left-sm pad-right-sm">
        <td-search-box  [alwaysVisible]="true" #textSearch backIcon="arrow_back" class="push-right-sm" 
                        placeholder="Procurar por Código localizador ou Nome completo do responsável" 
                        (searchDebounce)="search(textSearch.value)" flex>
        </td-search-box>
    </div>
    <md-divider></md-divider>
    <td-data-table
        #dataTable
        [data]="mainLocations.content"
        [columns]="columns"
        [selectable]="true"
        [clickable]="false"
        [multiple]="false"
        [sortable]="true"
        (rowSelect)="rowSelect($event)"
        (sortChange)="sortEvent($event)">
        <ng-template tdDataTableTemplate="codLocation" let-value="value" let-row="row" let-column="column">
            <div layout="row">
                <span flex>{{value | truncate:20 }} </span>
            </div>
        </ng-template>
        <ng-template tdDataTableTemplate="responsible.name" let-value="value" let-row="row" let-column="column">
            <div layout="row">
                <span flex>{{value | truncate:15 }}</span>
            </div>
        </ng-template>
        <ng-template tdDataTableTemplate="responsible.lastName" let-value="value" let-row="row" let-column="column">
            <div layout="row">
                <span flex>{{value | truncate:15 }}</span>
            </div>
        </ng-template>
    </td-data-table>
    <div class="md-padding" *ngIf="!dataTable.hasData" layout="row" layout-align="center center">
            <h3>Sem resultados.</h3>
    </div>
    <td-paging-bar #pagingBar [pageSizes]="[5]" [total]="total" (change)="change($event)">
        <span td-paging-bar-label hide-xs>Localizações:</span>
        {{pagingBar.range}} <span hide-xs>de {{pagingBar.total}}</span>
    </td-paging-bar>
</form>
<div class="button" >
    <button md-raised-button  md-dialog-close color="accent" (click)="emitter()" >Salvar</button>
    <button md-raised-button  md-dialog-close color="accent" >Cancelar</button>
</div>